.vscode
# Ignorer tout le contenu du dossier 'data'
modele/data/

# Ignorer des fichiers spécifiques du dossier 'notebooks'
modele/notebooks/df_cleaned_encod*.csv
model*.pkl

backend\app\routers\model.pkl

farmd*/

frontend/node_modules/
*_bk/

backend/app/routers/model.pkl
